<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>l</title>
    <link rel="stylesheet" href="../stylesheets/indexOfprofile.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>
    <div id="main">
        <div id="nav">
            <div id="nlef">
                <div class="ncir">
                    <i class="ri-drop-fill"></i>
                </div>
                <h1>Kodecolor</h1>
            </div>
            <div id="srch">
                <i class="ri-search-line"></i>
                <input type="search" placeholder="Search" name="" id="">
            </div>
            <div id="nref">
                <h4>Find people</h4>
                <div class="msg">
                    <h4>Messages </h4>
                    <div class="msgCount">
                        <h5>4</h5>
                    </div>

                </div>
                <div class="ncontact">
                    <h4>My Contact</h4>
                    <div class="ndp">
                        <div class="ndot">
                            
                        </div>
                        <img src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1480&q=80" alt="">
                        
                    </div>
                        <a href="/logout">LogOut</a>
                </div>
            </div>
        </div>
        <div id="centre">
            <div id="c-lef">
                <div id="big-dp">
                    <img src="https://images.unsplash.com/photo-1523419409543-a5e549c1faa8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1597&q=80" alt="">
                </div>
                <h6>Work</h6>
                <div class="work-hist">
                    <div class="head">
                        <h4>Spotify New York</h4>
                        <div class="primary">
                            <h5>Primary</h5>
                        </div>
                    </div>
                    <h5 id="address">170 William Wall Street</h5>
                    <h5 id="address">New York nyc, 197 37487 4587</h5>
                </div>

                <div class="work-hist">
                    <div class="head">
                        <h4>MetroPolitionn <br>Museum</h4>
                        <div id="secondary" class="primary">
                            <h5>Secondary</h5>
                        </div>
                    </div>
                    <h5 id="address">170 William Wall Street</h5>
                    <h5 id="address">New York nyc, 197 37487 4587</h5>
                </div>  
                <h6>Skills</h6>

                <div class="skills">
                    <h5>Branding</h5>
                    <h5>UI UX</h5>
                    <h5>Web - Design</h5>
                    <h5>Packaging</h5>
                    <h5>Print & Editorial</h5>
                </div>

            </div>
            <div id="c-ref">
                <div id="name-line">
                    <div class="name-lef">
                        <h1><%= hi.name %>   </h1>
                        <div class="location">
                            <i class="ri-map-pin-2-fill"></i>
                            <h6>New York , NY</h6>
                        </div>
                    </div>
                    <div class="bookmark">
                        <i class="ri-bookmark-fill"></i>
                        <h6>Bookmark</h6>
                    </div>
                </div>
                <div class="whoIsHe">
                    <h6>Product Designer</h6>
                </div>
                <div class="rankings">
                    <h4>Rankings</h4>
                    <h3> <span>8.6</span> <i class="ri-star-fill"></i> <i class="ri-star-fill"></i> <i class="ri-star-fill"></i> <i class="ri-star-fill"></i></h3>
                </div>
                <div class="sendMsg">
                    <div class="msgp1">
                        <i class="ri-chat-1-fill"></i>
                        <h4>Send Message</h4>
                    </div>
                    <div class="msgp2">
                        <i class="ri-check-line"></i>
                        <h4>Contacts</h4>
                    </div>
                    <h4 id="report">Report user</h4>
                </div>
                <div id="timeline">
                    <div class="t-lef">
                        <i class="ri-eye-fill"></i>
                        <h5>Timeline</h5>
                    </div>
                    <div id="t-ref" class="t-lef">
                        <i class="ri-user-3-fill"></i>
                        <h5>About</h5>
                    </div>
                </div>

                <div id="cont-info">
                    <h6 >Contact Information</h6>
                    <div class="phoneNo">
                        <h5>Phone :</h5>
                        <h5 id="nmber">+144 466 1213 76</h5>
                    </div>

                    <div id="add" class="phoneNo">
                        <h5>Address :</h5>
                        <h5 id="nmber">S2S E65 Street , <br> NYC 3St 97 388 286</h5>
                    </div>
                    <div id="add" class="phoneNo">
                        <h5>Email :</h5>
                        <h5 id="nmber">hello@l .mail</h5>
                    </div>

                    <div id="add" class="phoneNo">
                        <h5>Site:</h5>
                        <h5 id="nmber">www.lcom</h5>
                    </div>
                <h6 id="basic">BASIC INFORMATION</h6>
                <div id="bday" class="phoneNo">
                    <h5>Birthday :</h5>
                    <h5>14, june 1992</h5>
                </div>
                <div id="gender" class="phoneNo">
                    <h5>Gender :</h5>
                    <h5>Male</h5>
                </div>
                   
                </div>
            </div>
        </div>
    </div>
    <style>
        a{
          text-decoration: none;
          display: block;
          color: #000;
          font-family: product sans;
          font-weight: 600;
          font-size: 1vw;
        }
      </style>
</body>
</html>